<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:C:\Bootcamp\DB\robot_war_new.db
        </property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.type">trace</property>
        <mapping class="btc.com.Entities.GameEntity"/>
        <mapping class="btc.com.Entities.RobotEntity"/>
        <mapping class="btc.com.Entities.MapEntity"/>
        <mapping class="btc.com.Entities.MapItemEntity"/>
    </session-factory>
</hibernate-configuration>